* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.header__container {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 11.25vh;
  top: 0;
  left: 0;
  background-color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 30;
}

.header__logo {
  width: 4rem;
  height: 5rem;
  border-radius: 40%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* .loaddata-btn {
  width: 6rem;
  height: 2rem;
  font-size: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: auto;
  padding-bottom: auto;
  border: none;
} */
.fetchdata-btn{
  border: none;
  background-color: white;
  border-radius: 20%;
  cursor:pointer;
  box-shadow: 0px 2px 15px #FFE162;
  font-size: 15px;
  padding: 13px;
  
}
.character-filter{
  border: none;
  background-color: white;
  border-radius: 2px;
  height: 25px;
  text-align: center;

}
.search{
  border: none;
  border-radius: 2px;
  height: 25px;
  text-align: center;
  margin-top: 5px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
