* {
  box-sizing: border-box;
}
body{
  /* background-color:#91C483 ; */
 
}
main {
  position: relative;
  margin-top: 13vh;
  padding-bottom:10vh ;
  color:#333;
}

@media only screen and (min-width: 768px) {
  .flexContainerCards{ padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 30px;
  border-radius: 20px;
  background-color: #FFE162;
  box-shadow: 1px 5px 10px grey;
}
.card img {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100%;
  
}

.scrollTop {
  background-color: #FF6464;
  position: fixed;
  top: 85vh;
  right: 3vw;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 30;
  border: none;
  color: white;
  box-shadow: 1px 2px 5px #EEEEEE;
}

.scrollTop.active {
  bottom: 0.4vh;
  visibility: visible;
  opacity: 1;
}
