* {
  box-sizing: border-box;
}

main {
  position: relative;
  margin-top: 12vh;
}

.card {
  padding: 20px;
  background-color: ;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 30px;
  border-radius: 20px;
}
.card img {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 50%;
}

.scrollTop {
  background-color: blueviolet;
  position: fixed;
  top: 85vh;
  right: 3vw;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 30;
}

.scrollTop.active {
  bottom: 0.4vh;
  visibility: visible;
  opacity: 1;
}
